<div class="container">
    <h1> Buying Dashboard</h1>
    <div class="row">

        <form action="/blog/edit/<%=x%>" method="POST">

            <div class="form-group">
                <label for="user">Title:</label>
                <input class="form-control" type="text" name="title" value="<%= blog.title %>" id="title" disabled>
            </div>
            <div class="form-group">
                <label for="user">Seller:</label>
                <input class="form-control" type="text" name="username" placeholder="<%= blog.username %>" id="username"
                    disabled>
            </div>

            <div class="form-group">
                <label for="user">Description:</label>
                <input class="form-control" type="text" name="description" value="<%= blog.title %>" id="description"
                    disabled>
            </div>

            <div class="form-group">
                <label for="user">Address:</label>
                <input class="form-control" type="text" name="body" value="<%= blog.body %>" id="body" disabled>
            </div>

            <div class="form-group">
                <label for="user">Seller's Pricee:</label>
                <input class="form-control" type="text" name="price" value="<%= blog.price %>" id="price" disabled>
            </div>

            <div class="form-group">
                <label for="user">Buyer:</label>
                <input class="form-control" type="text" name="buyer" value="<%= user.username %>" id="buyer" disabled>
            </div>

            <div <% if ( ( blog.username == user.username || blog.buyer != "None" )  ) { %> style="display: none;"
                <% } %>>
                <div class="form-group">
                    <label for="user">Do you want to buy this property?:</label><br>
                    <select name="status" id="status" default>
                        <option value="<%= blog.status %>" selected hidden><%= blog.status %></option>
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="user">Your Price:</label>
                    <input class="form-control" type="text" name="dealprice" value="<%= blog.dealprice %>"
                        id="dealprice">
                </div>
            </div>

            <div <% if ( blog.username != user.username ) { %> style="display: none;" <% } %>>
                <div class="form-group">
                    <label for="user">Accept/Reject buyer's offer:</label><br>
                    <select name="step1" id="step1" <% if ( blog.status == false ) { %> disabled <% } %>>
                        <option value="<%= blog.step1 %>" selected hidden><% if ( blog.step1 == true ) { %> Accept
                            <% } else { %> Reject <% } %> </option>
                        <option value="true">Accept</option>
                        <option value="false">Reject</option>
                    </select>
                </div>
            </div>




            <div style="display: none;">
                <div class="form-group">
                    <label for="user">Property verfication step (done by org.):</label><br>
                    <select name="step2" id="step2" <% if( blog.step1 == false ) {  %> disabled <% } %>>
                        <option value="<%= blog.step2 %>" selected hidden><% if ( blog.step2 == true ) { %> Accept
                            <% } else { %> Reject <% } %> </option>
                        <option value="true">Accept</option>
                        <option value="false">Reject</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="user">Fund checking in buyer's account (done by org.):</label><br>
                    <select name="step3" id="step3" <% if( blog.step2 == false ) {  %> disabled <% } %>>
                        <option value="<%= blog.step3 %>" selected hidden><% if ( blog.step3 == true ) { %> Accept
                            <% } else { %> Reject <% } %> </option>
                        <option value="true">Accept</option>
                        <option value="false">Reject</option>
                    </select>
                </div>
            </div>

            <div <% if ( blog.buyer != user.username ) { %> style="display: none;" <% } %>>
                <div class="form-group">
                    <label for="user">Confirm Final Order:</label><br>
                    <select name="step4" id="step4" <% if( blog.step3 == false ) {  %> disabled <% } %>>
                        <option value="<%= blog.step4 %>" selected hidden><% if ( blog.step4 == true ) { %> Accept
                            <% } else { %> Reject <% } %> </option>
                        <option value="true">Accept</option>
                        <option value="false">Reject</option>
                    </select>
                </div>
            </div>



            <div style="display: none;">
                <div class="form-group">
                    <label for="user">Message:</label>
                    <input class="form-control" type="text" name="message" value="<%= blog.message %>" id="message"
                        disabled>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="user">Step 2:</label>
                <input class="form-control" type="text" name="step2" value="<%= blog.step2 %>" id="step2"
                    <% if( blog.status == false || blog.step1 == false ) {  %> disabled <% } %>>
            </div>
            <div class="form-group">
                <label for="user">Step 3:</label>
                <input class="form-control" type="text" name="step3" value="<%= blog.step3 %>" id="step3"
                    <% if( blog.status == false || blog.step2 == false ) {  %> disabled <% } %>>
            </div>
            <div class="form-group">
                <label for="user">Step 4:</label>
                <input class="form-control" type="text" name="step4" value="<%= blog.step4 %>" id="step4"
                    <% if( blog.status == false || blog.step3 == false ) {  %> disabled <% } %>>
            </div> -->



            <a class="btn btn-secondary" href="/"> Cancel</a>
            <button class="btn btn-primary" type="submit"> Submit</button>

        </form>
    </div>
</div>