<style>
    #sbody img {
        max-width: 100%;
        max-height: 100vh;
    }

    .stepper-wrapper {
        margin-top: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .stepper-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    .stepper-item::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 20px;
        left: -50%;
        z-index: 2;
    }

    .stepper-item::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 2;
    }

    .stepper-item .step-counter {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ccc;
        margin-bottom: 6px;
    }

    .stepper-item.active {
        font-weight: bold;
    }

    .stepper-item.completed .step-counter {
        background-color: #4bb543;
    }

    .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 3;
    }

    .stepper-item:first-child::before {
        content: none;
    }

    .stepper-item:last-child::after {
        content: none;
    }



    table,
    tr,
    td {
        padding: 5px;
        border: 1px solid black;
    }
</style>

<!-- <div class="btn btn-warning">
    <a href="/blog/add"> Add blog</a>
</div> -->



<div class="container" style="margin: 50px auto;background-color: rgb(253, 240, 220);padding:20px">


    <h1>
        <%= blog["title"] %>
    </h1>

    <div id="blog-status"> By :
        <%= blog["username"] %>

        ,
        <% var x= "just now" ;var y=blog.did;if( time - y >= 525600){ x= (parseInt((time - y )/ 525600))+" years ago"; } else if( time - y >=43200){ x= (parseInt((time - y )/ 43200))+" months ago" } else if( time - y >=10800){ x= (parseInt((time - y )/ 10800))+" weeks ago" }else if( time - y >=1440){ x= (parseInt((time - y )/ 1440))+" days ago" } else if( time - y >=60){ x= (parseInt((time - y )/ 60))+" hours ago" }else if( time - y >=0){ x= (parseInt((time - y )))+" min ago" }   %>
        <% if (x[0] == '0') { x = "Just now" }%>

        <%= x %>
    </div>
    <div id="description" style="margin: 5px">
        Description: <strong> <%= blog.description %></strong>
    </div>
    <div style="border-left: 5px grey solid; padding:20px; margin-top: 10px; margin-bottom: 10px; margin-left: 1px;"
        id="body">
        Address:
        <%- blog.sanitizedHtml %>
    </div>



    <div>
        <h6 style="text-align: center;">Price: <strong><%= blog.price  %></strong> </h6>
    </div>
    <hr>
    <div style="text-align: center;">
        Property Image: <br>
        <img style="max-width: 100%; max-height: 100%; margin-right: auto; margin-left: auto; display: block;"
            src="<%= blog.images %> " alt="property image">
    </div>
    <br>
    <div>
        Property Documents: <br>
        <img style="max-width: 100%; max-height: 100%;" src="<%= blog.doc %> " alt="property image">
    </div>
    <hr>
    <div class="btn btn-warning">
        <a style="color: white;" href="/blog/edit/<%=blog['mid']%>">BUY</a>
    </div>
    <hr>
    <div>

        <p>
            <strong>Status:</strong>
            <strong><%= blog.message %> </strong>
        </p>

        <hr>
        <% if ( blog.status == true || blog.step1 == true ) { %>

        <div class="stepper-wrapper">
            <div
                class="stepper-item   <% if ( blog.step1 == false && blog.status == true ) { %> active <% } else if ( blog.step1 == true ) { %> completed <% } %>  ">
                <div class="step-counter">1</div>
                <div class="step-name">Buyer's Offer Acception </div>
            </div>
            <div
                class="stepper-item <% if ( blog.step2 == false && blog.step1 == true ) { %> active <% } else if ( blog.step2 == true ) { %> completed <% } %> ">
                <div class="step-counter">2</div>
                <div class="step-name">Verifying Seller's Property<br>(Done by Org.)</div>
            </div>
            <div
                class="stepper-item <% if ( blog.step3 == false && blog.step2 == true ) { %> active <% } else if ( blog.step3 == true ) { %> completed <% } %> ">
                <div class="step-counter">3</div>
                <div class="step-name">Funds Checking in Buyer's Account<br>(Done by Org.)</div>
            </div>
            <div
                class="stepper-item <% if ( blog.step4 == false && blog.step3 == true ) { %> active <% } else if ( blog.step4 == true ) { %> completed <% } %> ">
                <div class="step-counter">4</div>
                <div class="step-name">Transfering Ownership to Buyer and Offered Amount to Seller</div>
            </div>
        </div>





        <br><br><br>
        <div>

            <h5>Transaction Updates</h5>


            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <strong>Buyer's Username</strong>
                        <hr>
                        <strong>Buyer's Offered Price</strong>
                        <hr>
                        <strong>Buyer's Offer</strong>
                        <hr>
                        <strong>Status of Verifying Property Details via Org. Records</strong>
                        <hr>
                        <strong>Checking Sufficient Funds in Buyer's Account</strong>
                        <hr>
                        <strong>Transfering Ownership and Offered Amount</strong>
                        <hr>
                        <strong>Deal</strong>
                        <hr>
                    </div>
                    <div class="col-md-2">

                        <%= blog.buyer %>
                        <hr>
                        <%= blog.dealprice %>
                        <hr>


                        <% if ( blog.step1 == false ) { %>
                        <span>
                            <span style="color: red;">Rejected</span>
                        </span>
                        <% } else { %>
                        <span>
                            <span style="color: green;">Accepted</span>
                        </span>
                        <% } %>
                        <hr>

                        <% if ( blog.step2 == true ) { %>
                        <span style="color: green;">Verified</span>
                        <% } else { %>
                        <span style="color: red;">Pending</span>
                        <% } %>
                        <hr>

                        <% if ( blog.step3 == true ) { %>
                        <span style="color: green;">Verified</span>
                        <% } else { %>
                        <span style="color: red;">Pending</span>
                        <% } %>
                        <hr>

                        <% if ( blog.step4 == true ) { %>
                        <span style="color: green;">Verified</span>
                        <% } else { %>
                        <span style="color: red;">Pending</span>
                        <% } %>
                        <hr>



                        <% if ( blog.deal == false ) { %>
                        <span style="color: red;">Pending</span>
                        <% } else { %>
                        <span style="color: green;">Done</span>
                        <% } %>
                        <hr>
                    </div>
                    <div class="col-md"></div>


                </div>
            </div>


            <!-- <strong>Buyer's Username:</strong> <%= blog.buyer %>
                <br>
                <strong>Buyer's Offered Price:</strong> <%= blog.dealprice %>
                <br>

                <strong>Buyer's Offer</strong>
                <% if ( blog.step1 == false ) { %>
                <span>
                    <span style="color: red;">Rejected</span>
                </span>
                <% } else { %>
                <span>
                    <span style="color: green;">Accepted</span>
                </span>
                <% } %>


                <br>

                <strong>Status of Verifying Property Details via Org. Records</strong>
                <% if ( blog.step2 == true ) { %>
                <span style="color: green;">Verified</span>
                <% } else { %>
                <span style="color: red;">Pending</span>
                <% } %>

                <br>

                <strong>Checking Sufficient Funds in Buyer's Account</strong>
                <% if ( blog.step3 == true ) { %>
                <span style="color: green;">Verified</span>
                <% } else { %>
                <span style="color: red;">Pending</span>
                <% } %>


                <br>
                <strong>Transfering Ownership and Offered Amount</strong>
                <% if ( blog.step4 == true ) { %>
                <span style="color: green;">Verified</span>
                <% } else { %>
                <span style="color: red;">Pending</span>
                <% } %>


                <br>

                <strong>Deal:</strong>
                <% if ( blog.deal == false ) { %>
                <span style="color: red;">Pending</span>
                <% } else { %>
                <span style="color: green;">Done</span>
                <% } %>
                <% } %> -->

        </div>

    </div>

</div>