<div class="container">
    <div class="d-flex justify-content-center">
        <a href="/blog/add"> <button> Sell Your Property</button></a>
    </div>

    <hr>
    <h2>Your Properties on Sale</h2>




    <div class="container">
        <div class="row">
            <% for ( let i=0 ; i < sell.length ; i++ ) { %>


            <div class="col-md-3 ">
                <div class="card p-4" style="width: 18rem;">
                    <img class="card-img-top" src="<%= sell[i].images %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= sell[i].title %></h5>
                        <p class="card-text"><%= sell[i].description %></p>
                        <p class="card-text"> <%= sell[i].price %></p>
                        <a href="/blog/expand/<%= sell[i].mid %>" class="btn btn-primary">More</a>
                    </div>
                </div>

            </div>

            <% } %>

        </div>
    </div>




</div>